<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <!--<link rel="icon" type="image/x-icon" href="../../assets/img/favicon.ico">-->
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login - HackerNews Theme</title>

    <link rel="stylesheet" href="../../assets/css/style.min.css">
</head>
<body class="mx-sm-0 mx-lg-9 my-lg-2 shadow">
    <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg bg-warning top-0 p-0 border-bottom">
        <div class="container-fluid p-0">
            <div class="col-md-12 px-0 d-flex">
                <div class="p-2">
                    <a class="navbar-brand mr-0 pt-1" href="index.html">
                        <img width="18" height="18" alt="" src="../../assets/img/logo.gif" class="border">
                        <span class="text-default align-middle">HACKER NEWS</span>
                    </a>
                </div>

                <div class="p-2 flex-grow-1">
                    <form id="searcherForm" method="post" action="/s/new" class="searcher">
                        <input id="searcherInput" class="form-control form-control-sm form-control-alternative mr-lg-5" placeholder="Search news" type="search" name="query" value="">
                    </form>
                </div>
                <div class="p-2 d-none d-sm-block">
                    <a href="login.html" class="btn btn-secondary btn-sm">
                        <span class="nav-link-inner--text">LOGIN</span>
                    </a>
                </div>
            </div>
        </div>
    </nav>    
    <div class="section p-0 py-2 bg-secondary border-bottom">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-footer justify-content-left">
                        <li class="nav-item">
                            <a href="" class="nav-link">New</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Past</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Comments</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Ask</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Show</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Jobs</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Submit</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="section p-2 m-0 bg-white">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-md-6">
                        <form class="p-4">
                            <h5>Sign In</h5>
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" placeholder="Email" type="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" placeholder="Password" type="password">
                                </div>
                            </div>
                            <div class="custom-control custom-checkbox mb-3">
                                <input class="custom-control-input" id="customCheck1" type="checkbox">
                                <label class="custom-control-label" for="customCheck1">
                                    <span>Remember me</span>
                                </label>
                            </div>
                            <div class="text-left">
                                <button type="button" class="btn btn-warning my-4">Sign in</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <form class="p-4">
                            <h5>Sign Up</h5>
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" placeholder="Name" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" placeholder="Email" type="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" placeholder="Password" type="password">
                                </div>
                            </div>
                            <div class="custom-control custom-checkbox mb-3">
                                <input class="custom-control-input" id="customCheck1" type="checkbox">
                                <label class="custom-control-label" for="customCheck1">
                                    <span>I agree with the <a href="#">Privacy Policy</a></span>
                                </label>
                            </div>

                            <div class="text-left">
                                <button type="button" class="btn btn-warning mt-4">Create account</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer p-0 py-2 border-top">
            <div class="container-fluid p-0 px-2">
              <div class="row align-items-center justify-content-md-between">
                <div class="col-md-4">
                  <div class="copyright">
                    &copy; 2022 <a href="index.html">Hacker News</a> <small>v0.1</small>
                  </div>
                </div>
                <div class="col-md-8">
                    <ul class="nav nav-footer justify-content-end">
                        <li class="nav-item">
                            <a href="page.html" class="nav-link">Guidelines</a>
                        </li>
                        <li class="nav-item">
                            <a href="page.html" class="nav-link">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a href="page.html" class="nav-link">Lists</a>
                        </li>
                        <li class="nav-item">
                            <a href="page.html" class="nav-link">API</a>
                        </li>
                        <li class="nav-item">
                            <a href="page.html" class="nav-link">Security</a>
                        </li>
                        <li class="nav-item">
                            <a href="page.html" class="nav-link">Legal</a>
                        </li>
                        <li class="nav-item">
                            <a href="page.html" class="nav-link">Apply to YC</a>
                        </li>
                        <li class="nav-item">
                            <a href="page.html" class="nav-link">Contact</a>
                        </li>
                    </ul>
                </div>
              </div>
            </div>
        </footer>
    </div>

</body>
</html>