<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <!--<link rel="icon" type="image/x-icon" href="../../assets/img/favicon.ico">-->
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Post - HackerNews Theme</title>

    <link rel="stylesheet" href="../../assets/css/style.min.css">
</head>
<body class="mx-9 my-2 shadow">
    <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg bg-warning top-0 p-0 border-bottom">
        <div class="container-fluid p-0">
            <div class="col-md-12 px-0 d-flex">
                <div class="p-2">
                    <a class="navbar-brand mr-0 pt-1" href="index.html">
                        <img width="18" height="18" alt="" src="../../assets/img/logo.gif" class="border">
                        <span class="text-default align-middle">HACKER NEWS</span>
                    </a>
                </div>

                <div class="p-2 flex-grow-1">
                    <form id="searcherForm" method="post" action="/s/new" class="searcher">
                        <input id="searcherInput" class="form-control form-control-sm form-control-alternative mr-lg-5" placeholder="Search news" type="search" name="query" value="">
                    </form>
                </div>
                <div class="p-2 d-none d-sm-block">
                    <a href="login.html" class="btn btn-secondary btn-sm">
                        <span class="nav-link-inner--text">LOGIN</span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <div class="section p-0 py-2 bg-secondary border-bottom">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-footer justify-content-left">
                        <li class="nav-item">
                            <a href="" class="nav-link">New</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Past</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Comments</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Ask</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Show</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Jobs</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Submit</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="section p-2 m-0 bg-white">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-sm table-responsive table-borderless">
                            <tbody>
                                <tr>
                                    <td><i class="fa fa-caret-up"></i></td>
                                    <td>
                                        <p class="p-0 m-0">
                                            <a href="#" class="titlelink" rel="nofollow">Pen and paper exercises in machine learning</a> <small>(<a href="#">github.com/uretgec/hacker-news-theme</a>)</small>
                                        </p>
                                        <p class="text-muted small">
                                            <span>1 point</span> by <a href="">uretgec</a> <span><a href="">5 minutes ago</a></span> | <a href="#">hide</a> | <a href="#">past</a> | <a href="single.html">discuss</a>
                                        </p>
                                        <form>
                                            <div class="form-group">
                                                <textarea type="comment" class="form-control" id="comment" placeholder=""></textarea>
                                            </div>
                                            <div class="form-group">
                                                <button type="button" class="btn btn-sm btn-secondary">Add Comment</button>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-6">
                        <table class="table table-sm table-responsive table-borderless">
                            <tbody>
                                <tr>
                                    <td width="10px"></td>
                                    <td><i class="fa fa-caret-up"></i></td>
                                    <td>
                                        <p class="text-muted small mb-1">
                                            <a href="single.html" class="hnuser">akudha</a> <span class="age" title=""><a href="">21 hours ago</a></span> <span></span><span> | <a href="#31963073" class="clicky" aria-hidden="true">next</a></span> <a class="togg clicky" id="31963641" n="85" href="javascript:void(0)">[–]</a><span class="onstory"></span>                  
                                        </p>
                                        <div class="p-0 m-0">
                                            <p class="small mb-1">As a rule of thumb, it is a good idea to support smaller and indie companies than mega corporations, IMHO - even if those mega corporations aren't doing anything that is ethically dubious. That is doubtful, as it is likely not possible to become that big without trampling on some toes or bending some rules.</p>
                                            <p class="small mb-1">Why support Github when there is st.ht? Why support Starbucks when you can support a mom &amp; pop coffee shop? Why buy books from Amazon when you can buy from a Indie book store? Granted, not everyone has the patience, time and money to vote with wallet, but we can try wherever possible. I hope more people ditch Github</p>

                                            <p class="p-0 m-0 small"><u><a class="text-default" href="#">reply</a></u></p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="10px"></td>
                                    <td><i class="fa fa-caret-up"></i></td>
                                    <td>
                                        <p class="text-muted small mb-1">
                                            <a href="#" class="hnuser">akudha</a> <span class="age" title=""><a href="">21 hours ago</a></span> <span></span><span> | <a href="#31963073" class="clicky" aria-hidden="true">next</a></span> <a class="togg clicky" id="31963641" n="85" href="javascript:void(0)">[–]</a><span class="onstory"></span>                  
                                        </p>
                                        <div class="p-0 m-0">
                                            <p class="small mb-1">For a start, the company is bootstrapped and we have no private investors. The revenue to maintain the platform comes directly from users, and all users are expected to pay if they have the means for this reason. We are accountable only to them and we do not have to find "creative" ways to monetize them (or their work) because they are already footing the bill themselves. Every cent paid by users stays in open source, either supporting the platform or the dozens of projects our engineers maintain or contribute to in the FOSS ecosystem.</p>
                                            <p class="small mb-1">Why support Github when there is st.ht? Why support Starbucks when you can support a mom &amp; pop coffee shop? Why buy books from Amazon when you can buy from a Indie book store? Granted, not everyone has the patience, time and money to vote with wallet, but we can try wherever possible. I hope more people ditch Github</p>

                                            <p class="p-0 m-0 small"><u><a class="text-default" href="#">reply</a></u></p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer p-0 py-2 border-top">
            <div class="container-fluid p-0 px-2">
              <div class="row align-items-center justify-content-md-between">
                <div class="col-md-4">
                  <div class="copyright">
                    &copy; 2022 <a href="index.html">Hacker News</a> <small>v0.1</small>
                  </div>
                </div>
                <div class="col-md-8">
                    <ul class="nav nav-footer justify-content-end">
                        <li class="nav-item">
                            <a href="page.html" class="nav-link">Guidelines</a>
                        </li>
                        <li class="nav-item">
                            <a href="page.html" class="nav-link">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a href="page.html" class="nav-link">Lists</a>
                        </li>
                        <li class="nav-item">
                            <a href="page.html" class="nav-link">API</a>
                        </li>
                        <li class="nav-item">
                            <a href="page.html" class="nav-link">Security</a>
                        </li>
                        <li class="nav-item">
                            <a href="page.html" class="nav-link">Legal</a>
                        </li>
                        <li class="nav-item">
                            <a href="page.html" class="nav-link">Apply to YC</a>
                        </li>
                        <li class="nav-item">
                            <a href="page.html" class="nav-link">Contact</a>
                        </li>
                    </ul>
                </div>
              </div>
            </div>
        </footer>
    </div>

</body>
</html>